@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 8px;
}
